
table.custom-table {
    width: 100%;
    border-collapse:separate;
    border:solid black 1px;
    border-spacing: 2px;
}

table.custom-table td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

table.custom-table th {
    background-color: #e1e1e2;
    border-top: none;
}

table.custom-table td:first-child, table.custom-table th:first-child {
    border-left: none;
}
#datepicker {
    cursor: default;
    background-color: #fff;
}
#datepickerto {
    cursor: default;
    background-color: #fff;
}

/* loader */
div.overlay{
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10000;
    top:        0; 
    left:       0; 
    position:   fixed; 
}

.loader {
    position: relative;
    border: 8px solid #7b7b7b;
    border-top: 8px solid #fbfbfb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    top: 280px;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Timesheet Add page*/

input[type="search"].form-control.input-sm{
    float : right;
    margin:5px;
    border:none;
    border-bottom: 1px solid #9a9999;
    font-weight: 400;
}

table#entry_table{
    width : 100%;
}

table#entry_table thead.entry-header th{
    border: none;
    padding: 10px;
    text-align: center;
}

table#entry_table tr.entry-row td{
    padding: 10px;
}

table#entry_table tr.recent-entry td{
    padding: 12px;
}

table#entry_table tr.recent-entry td button.update-entry{
    margin-right: 5px;
}

div.dropdown-menu tr td{
    padding : 2px !important;
}

/* End Timesheet Add */
.fa{
    font-size : 14px;
}

.fa-times{
    font-size : 18px;
}

.required{
    color : red;
}

.fa-refresh{
    margin-top: 15px; 
    color: skyblue;
    font-size: 20px;
}
.fa-refresh:hover{
    color: #7bb4cc;
}


/* For searching */
.group{
    background-color: #eee;
}
.group td{
    text-align:center;
}
.search {
    float: right;
    margin: 3px;
    border: none;
    border: 1px solid #9a9999;
    border-radius: 4px;
    text-align: center;
    height: 28px;
}
.search:focus {
    outline: none; 
    border: 1px solid #48b7d2;
}

.Highlighted{
    background-color : #5c83f385 !important;
    color: White !important;
    border-radius: 50% !important;
}

.Highlighted-Selectable{
    background-color : #0138d4a1 !important;
    color: white !important;
    border-radius: 60% !important;
    margin-bottom: 2px;
    border-color: black;
}

.withdraw{
    border-color : #e8c8c8;
}

.unread-notification{
    background: #e8e8e8;
}

.unread-notification a:hover, .read-notification a:hover{
    background: #c5c5c5 !important;
}

ul.dropdown-menu li.header{
    font-weight: 800;
}

.slimScrollDiv, .menu{
    height: auto !important;
}

.box-shadow-as-border{
    box-shadow: -1px 5px 8px #a2a0a0;
}

.list-style-none{
    list-style: none;
}

.page-notification-ul{
    padding: 10px !important;
    background: #e1edfd;
    list-style: none;
    border-bottom: 2px solid #b0cef7;
    display: block;
}

.page-notification-ul a{
    width : 100%;
    display: block;
}

.page-notification-ul a:hover{
    color : black;
}

.page-notification-ul:hover{
    background: #dfe1f796;
    border-bottom: 2px solid #eee;
}

.notification-page-main-ul li.header{
    font-weight: 800;
}